.row {
  border-bottom: var(--border-width) solid var(--border-color);
  display: flex;
  width: 100%;
  height: 100px;
}

.label {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-m);
  min-width: 25%;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  .label {
    color: var(--color-white);
  }
}

.swipeableContainer {
  position: relative;
  display: flex;
  min-width: 150%;
  transition: left 0.3s;
}

.swipeableContainer.swiped {
  left: -75%;
}


.countersContainer {
  display: flex;
  min-width: 50%;
  padding: var(--spacing-m);
  gap: var(--spacing-m);
}

.resetContainer {
  min-width: 50%;
  display: flex;
  padding: var(--spacing-m);
}

.resetButton {
  background-color: var(--color-primary-faded);
  color: var(--color-black);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.resetButton:focus {
  outline: none;
}

.totalCount {
  width: 100%;
  font-size: var(--font-size-m);
}
