:root {
  font-family: Roboto, system-ui, -apple-system, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

button {
  border-radius: var(--border-radius);
}

#root {
  width: 100vw;
  height: 100dvh;
  max-width: 1280px;
  max-height: 100dvh;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;

  --border-radius: 8px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.875rem;

  --color-white: #faf9f6;
  --color-black: #1a1a1a;
  --color-primary: #646cff;
  --color-primary-faded: #a6a6ff;
  --color-secondary: #00d3a2;
  --color-secondary-faded: #e3f6f5;
  --color-lightgray: lightgray;
  --color-lightgray: gray;

  --border-color: var(--color-lightgray);
  --border-width: 1px;

  background-color: var(--color-white);
  margin: auto;
}

#root * {
  box-sizing: border-box;
}
