.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 10%;
  font-size: 5rem;
  gap: var(--spacing-m);
  border-radius: var(--border-radius);
}

.total {
  flex: 1;
  font-size: var(--font-size-xxl);
  height: 100%;
  place-content: center;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
}

.resetButton {
  background-color: var(--background-color);
  aspect-ratio: 1;
  height: 100%;
  padding: var(--spacing-l);
  border: var(--border-width) solid var(--border-color);
  font-size: var(--font-size-s);
  border-radius: var(--border-radius);
}

.resetButton:hover {
  border-color: var(--color-primary-faded);
  background-color: var(--color-primary-faded);
}

.resetButton:active {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.resetButton:focus,
.resetButton:focus-visible {
  outline: none;
  border-color: none;
}

@media (prefers-color-scheme: dark) {
  .resetButton img {
    filter: invert(1);
  }
}
